#root {
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  margin: 0;
}

time {
  color: gray;
  font-size: 14px;
  padding-top: 2px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.upper-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

/* Widget styles */
.widget {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 260px;
}

.img-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.widget-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-link {
  color: rgb(0, 102, 255);
  margin: 0;
}

/* LatestNews styles */
.news-now-titles {
  display: flex;
  gap: 14px;
  align-items: center;
}

.title {
  color: rgb(0, 102, 255);
  font-size: 19.2px;
}

.title.inactive {
  color: rgba(0, 102, 255, 0.452);
}

.news {
  padding: 0;
}

.currencies {
  display: flex;
  gap: 12px;
}

.currency {
  font-weight: 700;
}

.currency-link {
  display: flex;
  gap: 7px;
}

.level {
  color: gray;
  font-weight: 400;
}

.news-link {
  display: flex;
  position: relative;
}

.fav-icon {
  position: absolute;
  left: -24px;
  margin-right: 5px;
}

/* Search Block styles */
.logo {
  position: absolute;
  left: -130px;
  top: -10px;
  width: 120px;
  margin-right: 20px;
}

.search-widget {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.link-item {
  margin: 0;
}

.link {
  text-decoration: none;
  color: rgb(0, 102, 255);
  font-size: 18px;
}

.input-container {
  display: flex;
  position: relative;
  background-color: rgb(238, 238, 68);
  width: 90%;
  height: 36px;
  padding: 0;
}

.input {
  width: 87%;
  height: 30px;
  margin: 2px;
  border: none;
  outline: none;
  padding-left: 10px;
}

.search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  font-size: 16px;
}

.search-suggestion-link {
  color: gray;
  cursor: pointer;
}

.banner-img {
  margin-top: 10px;
  width: 87%;
}

/* Lower block styles */

.lower-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 210px;
  gap: 16px;
}

.content-container {
  margin-top: 10px;
}

.weather-info {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.weather-degree {
  font-size: 24px;
  font-weight: 600;
}

.visited-link {
  font-weight: 700;
  color: black;
}

.visited-link > span {
  font-weight: 400;
}

.map-link {
  color: black;
}

.channel-name {
  color: gray;
}

.program-link,
.broadcast-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.channel {
  color: gray;
}
